{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}{% trans "Repository Management" %}{% endblock %}

{% block header_html %}
    <link rel="stylesheet" href="{% static "css/modal.css" %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="page-wrapper">
        <br/>
        <div class="container-fluid">
            <div class="row">
                <ol class="breadcrumb">
                    {% for bc in breadcrumb %}
                        {% if forloop.last %}
                            <li class="active">{{ bc }}</li>
                        {% else %}
                            <li><a href="javascript:void(0);">{{ bc }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="col-lg-12">
                    {% include "messaging.html" %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-right">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#pushConfirmModal">{% trans "Push to Wipani" %}</button>
                                <div class="modal fade" id="pushConfirmModal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">You are about to push information to Wipani (Public Marketplace)!</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-warning" onclick="AjaxWipaniPush({{ process_group_id }})">Push</button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                                <button class="btn btn-default" onclick="loadAjaxForm('process');"> {% trans "Add Process" %} </button>
                                <button class="btn btn-warning" onclick="loadAjaxForm('objective');"> {% trans "Add Objective" %} </button>
                                <button class="btn btn-danger" onclick="loadAjaxForm('risk');"> {% trans "Add Risk" %} </button>
                                <button class="btn btn-info" onclick="loadAjaxForm('control');"> {% trans "Add Control" %} </button>
                                <button class="btn btn-success" onclick="loadAjaxForm('test');"> {% trans "Add Test" %} </button>
                            </div>
                            <h4>{{ pg.title }} <small>{% trans "Management" %}</small></h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="panel-group" id="acc_{{ generated_id }}">
                                            {% include 'repo/childs.html' %}
                                        </div>
                                    </div>
                                    {% include "repo/pagination.html" %}
                                </div>
                                <div class="col-md-6" id="right_panel"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function AjaxWipaniPush(id) {
            {% if request.is_wipani_authenticated %}
                var url = "/repository/process-group/" + id + "/wipani/push/";
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function () {
                        location.reload()
                    }
                });
            {% else %}
                document.location.href = "/repository/wipani/token/?next=/repository/process-group/" + id + "/management/";
            {% endif %}
        }

        function get_childs(gen_id, cls_name, obj_id) {
            $("#clk_" + gen_id).attr("onclick", "");
            var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/" + obj_id + "/childs/?generated_id=" + gen_id;
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                data: {management: true},
                success: function (result) {
                    $("#acc_" + gen_id).empty().append(result.html);
                }
            });
        }

        function attachPaper() {
            $(".workPapers").append('<div class="col-md-10"><input type="file" class="form-control" name="papers"><br></div>');
        }

        function removeAttachment(id) {
            var url = "/repository/attachment/" + id + "/delete";
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {
                    $("#workPaper_" + id).remove();
                }
            });
        }

        function loadAjaxForm(cls_name, obj_id) {
            if (obj_id) {
                var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/" + obj_id + "/edit/";
            } else {
                var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/add/";
            }
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $("#right_panel").empty().append(result.html);
                }
            });
        }


        function saveAjaxForm(cls_name, obj_id) {
            var frm = $('#ajaxForm');
            if (obj_id) {
                var edit = true;
                var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/" + obj_id + "/edit/";
            } else {
                var edit = false;
                var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/add/";
            }

            frm.ajaxSubmit({
                url: url,
                success: function (result) {
                    $('.ajaxformerror').empty();
                    if (result.status == 'success') {
                        if (edit) {
                            $("#right_panel").empty().append('<p>' + cls_name + ' updated successfully</p>');
                            $("." + cls_name + "-" + obj_id).empty().text(result.title);
                        } else {
                            $("#right_panel").empty().append('<p>' + cls_name + ' added successfully</p>');
                            for (key in result.html) {
                                $("#" + key).prepend(result.html[key]);
                            }
                        }
                    } else if (result.error) {
                        for (key in result.error) {
                            $("#" + key + "_err").html(result.error[key]);
                        }
                    }
                },
                error: function () {
                    alert('Unable to add/update ' + cls_name);
                }
            });
        }

        function deleteObject(cls_name, obj_id) {
            var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/" + obj_id + "/delete/";
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {
                    $("." + cls_name + "-" + obj_id).parent().parent().parent().remove();
                    $("#right_panel").empty().append('<p>' + cls_name + ' deleted successfully</p>');
                }
            });
        }
    </script>
{% endblock %}