{% if object_list %}
    {% for obj in object_list %}
        {% if obj.class_name == 'process_group' %}
            <div class="panel panel-primary" id="pnl_{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="clk_{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}" data-toggle="collapse" data-parent="#acc_{{ generated_id }}" href="#{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}_collapse" onclick="get_childs('{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}', '{{ obj.class_name }}', '{{ obj.id }}')">+</a>
                        <a href="javascript:;" onclick="loadAjaxForm('{{ obj.class_name }}', '{{ obj.id }}')" class="{{ obj.class_name }}-{{ obj.id }}">{{ obj.title }}</a>
                    </h4>
                </div>
                <div id="{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}_collapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel-group" id="acc_{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}