{% extends "base.html" %}
{% load i18n %}
{% block page_title %}{% trans "Repository Management" %}{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="page-wrapper">
        <br/>
        <div class="container-fluid">
            <div class="row">
                {% include 'messaging.html' %}
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-right">
                                <button class="btn btn-primary" onclick="loadAjaxForm('process_group');"> {% trans "Add Process Group" %} </button>
                            </div>
                            <h4>{% trans "Process Groups" %}</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="panel-group" id="acc_{{ generated_id }}">
                                            {% include 'repo/pg_childs.html' %}
                                        </div>
                                    </div>
                                    {% include "pagination.html" %}
                                </div>
                                <div class="col-md-6" id="right_panel"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function get_childs(gen_id, cls_name, obj_id) {
            $("#clk_" + gen_id).attr("onclick", "");
            var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/" + obj_id + "/childs/?pg_index=true&generated_id=" + gen_id;
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                data: {management: true},
                success: function (result) {
                    $("#acc_" + gen_id).empty().append(result.html);
                }
            });
        }

        function attachPaper() {
            $(".workPapers").append('<div class="col-md-10"><input type="file" class="form-control" name="papers"><br></div>');
        }

        function removeAttachment(id) {
            var url = "/repository/attachment/" + id + "/delete";
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {
                    $("#workPaper_" + id).remove();
                }
            });
        }

        function loadAjaxForm(cls_name, obj_id) {
            console.log({{ process_group_id }});
            if (obj_id) {
                var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/" + obj_id + "/edit/";
            } else {
                var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/add/";
            }
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $("#right_panel").empty().append(result.html);
                }
            });
        }


        function saveAjaxForm(cls_name, obj_id) {
            var frm = $('#ajaxForm');
            if (obj_id) {
                var edit = true;
                var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/" + obj_id + "/edit/";
            } else {
                var edit = false;
                var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/add/";
            }

            frm.ajaxSubmit({
                url: url,
                success: function (result) {
                    $('.ajaxformerror').empty();
                    if (result.status == 'success') {
                        if (edit) {
                            $("#right_panel").empty().append('<p>' + cls_name + ' updated successfully</p>');
                            $("." + cls_name + "-" + obj_id).parent().parent().parent().remove();
                        } else {
                            $("#right_panel").empty().append('<p>' + cls_name + ' added successfully</p>');
                        }
                        for (key in result.html) {
                            $("#" + key).prepend(result.html[key]);
                        }
                    } else if (result.error) {
                        for (key in result.error) {
                            $("#" + key + "_err").html(result.error[key]);
                        }
                    }

                },
                error: function () {
                    alert('Unable to add/update ' + cls_name);
                }
            });
            location.reload();
        }

        function deleteObject(cls_name, obj_id) {
            var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/" + obj_id + "/delete/";
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {
                    $("." + cls_name + "-" + obj_id).parent().parent().parent().remove();
                    $("#right_panel").empty().append('<p>' + cls_name + ' deleted successfully</p>');
                }
            });
        }
    </script>
{% endblock %}