{% extends "base.html" %}
{% load i18n %}
{% block page_title %}{% trans "Process Group Modify" %}{% endblock %}
{% block content %}
    {% csrf_token %}
    <div id="page-wrapper">
        <br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{% trans "Create/Modify Process Group" %}</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <form method="POST" class="post-form" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
                                        {% include "messaging.html" %}
                                        <div class="form-group">
                                            <label>{% trans "Title" %}{{ form.title.label_tag }}</label>
                                            {{ form.title }}
                                            <p class="help-block">{{ form.title.errors }}</p>
                                        </div>
                                        <div class="form-group">
                                            <label>{% trans "Description" %}{{ form.desc.label_tag }}</label>
                                            {{ form.desc }}
                                            <p class="help-block">{{ form.desc.errors }}</p>
                                        </div>
                                        <br/><br/>
                                        <div class="fieldWrapper">
                                            <fieldset>
                                                <legend>{% trans "Process, Objective, Risk, Control, Test" %}</legend>
                                                <button type="submit" class="save btn btn-default" name="add_manually">{% trans "Add/Modify manually" %}</button>
                                            </fieldset>
                                        </div>
                                        <!--
                                                                      </br></br>
                                        -->
                                        <div class="form-group">
                                            <label>{% trans "Belongs to" %}{{ form.belong_to.label_tag }}</label>
                                            {{ form.belong_to }}
                                            <p class="help-block">{{ form.belong_to.errors }}</p>
                                        </div>

                                        <hr/>
                                        <button type="submit" class="save btn btn-primary" name="save">{% trans "Save" %}</button>&nbsp;&nbsp;
                                        <!--
                                                                      <button type="submit" class="save btn btn-default" name="delete">Delete</button><br>
                                        -->
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}