{% extends "base.html" %}
{% load i18n %}
{% block content %}
    {% csrf_token %}
    <div id="page-wrapper"><br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="btn btn-info btn-sm pull-right" href="{% url 'repo:pg_create' %}">{% trans "+ New repo" %}</a>
                            <h4>{% trans "repo List" %}</h4>
                        </div>
                        {% if all_repos %}
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>{% trans "Title" %}</th>
                                            <th>{% trans "Description" %}</th>
                                            <th>{% trans "Belong To" %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for repo in all_repos %}
                                            <tr>
                                                <td><a href="{% url 'repo:process_group' repo.id %}">{{ repo.title }}</a></td>
                                                <td>{{ repo.desc }}</td>
                                                <td>{{ repo.belong_to.title }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        {% else %}
                            <p>No repos are available.</p>
                        {% endif %}
                    </div>
                    {% include "pagination.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
