{% extends "base.html" %}
{% block page_title %}Not Implemented{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h2>Not Implemented!</h2>
        <p>Interested in the enterprise version of Envelop?</p>
        <a href="mailto:hello@grcenvelop.com?subject=GRC Envelop Enterprise" class="btn btn-danger btn-lg">hello@grcenvelop.com | Get in touch with us!</a>
    </div>
{% endblock %}
