<div class="col-md-12">

    <div class="panel-group" id="accordion0">
        {% if audits %}
            {% for audit in audits %}

                <div class="panel panel-default" id="aud_{{ audit.id }}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <input id="ck_ad_{{ audit.id }}" type="checkbox" onclick="ckbox(this, {{ audit.id }}, 'audit', '');">
                            <a id="audit_{{ audit.id }}" data-toggle="collapse" data-parent="#accordion0" href="#ad_{{ audit.id }}_collapse" onclick="get_objectives('process_'+{{ process.id }}, {{ process.id }})">+</a>
                            <a href="javascript:;">{{ audit.title }}</a>
                        </h4>
                    </div>
                    <div id="ad_{{ audit.id }}_collapse" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="panel-group" id="acc_audit_{{ audit.id }}">
                                {% with audit.process_audit.all as object_list %}
                                    {% include 'audits/copy/audit_process.html' %}
                                {% endwith %}
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>


</div>
{% include "pagination.html" %}
