<div class="col-md-12">

    <div class="panel-group" id="acc_audit_{{ audit.id }}">
        {% if object_list %}
            {% for process in object_list %}

                <div class="panel panel-default" id="prr_{{ process.id }}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <input id="ck_ad_{{ audit.id }}_p_{{ process.id }}" type="checkbox" onclick="ckbox(this, {{ process.id }}, 'process', {{ audit.id }});">
                            <a id="process_{{ process.id }}" data-toggle="collapse" data-parent="#accordion1" href="#pr_{{ process.id }}_collapse" onclick="get_objectives('process_'+{{ process.id }}, {{ process.id }})">+</a>
                            <a href="javascript:;" {% if management %}onclick="loadAjaxProcessForm({{ audit_id }}, {{ process.id }})"
                            {% else %} data-toggle="modal" data-target="#pr_{{ process.id }}" {% endif %}
                               class="process-title-{{ process.id }}">{{ process.title }}</a>
                        </h4>
                    </div>
                    <div id="pr_{{ process.id }}_collapse" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="panel-group" id="acc_process_{{ process.id }}">
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
