{% if risks %}
    {% for obj in risks %}
        <div class="panel panel-danger risk-list-{{ obj.id }}">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <input id="ck_ad_{{ obj.audit_id }}_p_{{ process_id }}_o_{{ objective_id }}_r_{{ obj.id }}" type="checkbox" onclick="ckbox(this, {{ obj.id }}, 'risk', {{ obj.audit_id }}+'|'+{{ process_id }}+'|'+{{ objective_id }});">
                    <a id="pro_{{ process_id }}_obj_{{ objective_id }}_risk_{{ obj.id }}" data-toggle="collapse" data-parent="#acc_pro_{{ process_id }}_obj_{{ objective_id }}" href="#pr_{{ process_id }}_obj_{{ objective_id }}_rs_{{ obj.id }}_collapse" onclick="get_controls('pro_'+{{ process_id }}+'_obj_'+{{ objective_id }}+'_risk_'+{{ obj.id }}, {{ obj.id }}, {{ process_id }}, {{ objective_id }})">+</a>
                    <a href="javascript:void(0);" {% if management %} onclick="loadAjaxRiskForm({{ obj.audit_id }}, {{ obj.id }})" {% else %} data-toggle="modal" data-target="#md_pr_{{ process_id }}_obj_{{ objective_id }}_rs_{{ obj.id }}" {% endif %}>{{ obj.title }}</a>
                </h4>
            </div>
            <div id="pr_{{ process_id }}_obj_{{ objective_id }}_rs_{{ obj.id }}_collapse" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel-group" id="acc_pro_{{ process_id }}_obj_{{ objective_id }}_risk_{{ obj.id }}"></div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}