{% if objectives %}
    {% for obj in objectives %}
        <div class="panel panel-warning objective-list-{{ obj.id }}">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <input id="ck_ad_{{ obj.audit_id }}_p_{{ process_id }}_o_{{ obj.id }}" type="checkbox" onclick="ckbox(this, {{ obj.id }}, 'objective', {{ obj.audit_id }}+'|'+{{ process_id }});">
                    <a id="pro_{{ process_id }}_obj_{{ obj.id }}" data-toggle="collapse" data-parent="#acc_process_{{ process_id }}" href="#pr_{{ process_id }}_obj_{{ obj.id }}_collapse" onclick="get_risks('pro_'+{{ process_id }}+'_obj_'+{{ obj.id }}, {{ obj.id }}, {{ process_id }})">+</a>
                    <a href="javascript:void(0);" {% if management %} onclick="loadAjaxObjectiveForm({{ obj.audit_id }}, {{ obj.id }})" {% else %} data-toggle="modal" data-target="#md_pr_{{ process_id }}_obj_{{ obj.id }}" {% endif %} class="objective-title-{{ obj.id }}">{{ obj.title }}</a>
                </h4>
            </div>
            <div id="pr_{{ process_id }}_obj_{{ obj.id }}_collapse" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel-group" id="acc_pro_{{ process_id }}_obj_{{ obj.id }}"></div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
