{% extends "base.html" %}
{% load i18n %}
{% block page_title %}{% trans "Push to Repository" %}{% endblock %}
{% block content %}
    {% csrf_token %}
    <div id="page-wrapper">
    <br/>
    <div class="container-fluid">
        {% include 'messaging.html' %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{% trans "Push to Repository" %}</h4>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="">{% csrf_token %}
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="row">
                                        <!--
                                <div class="col-lg-6">
                                        <label>Existing Repository</label>
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <input type="radio" value="old" name="process_group" checked>
                                      </span>
                                      <select class="form-control" name="pg">
                                          {% for repo in repos %}
                                          <option value="{{ repo.id }}">{{ repo.title }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                  </div>
-->
                                        <div class="col-lg-6">
                                            <label>{% trans "New Process Group" %}</label>
                                            <div class="input-group">
                                      <span class="input-group-addon">
                                        <input type="radio" name="process_group" value="new" checked>
                                      </span>
                                                <input type="text" class="form-control" name="pg_name">
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    {% include 'audits/copy/audit_list.html' %}
                                    <input type="hidden" id="copy_object" name="copy_object">
                                    <input type="hidden" id="copy_source" name="copy_source">
                                    <input type="hidden" id="copy_parents" name="copy_parents">
                                    <button type="submit" class="btn btn-default btn-primary">{% trans "Push" %}</button>
                                </div>
                                <div class="col-md-6" id="right_panel"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function ckbox(elm, obj, source, parents) {
            cur_id = $(elm).attr("id");
            if ($(elm).is(":checked")) {
                $("#copy_object").val(obj);
                $("#copy_source").val(source);
                $("#copy_parents").val(parents);
                $("input:checkbox").not($(elm)).prop("checked", false);
                $(elm).parent().parent().parent().find("input:checkbox").prop("checked", true);
                arr = cur_id.split('_')
                arr_len = arr.length;
                if (arr_len >= 5) {
                    $("#" + arr.slice(0, 3).join('_')).prop("checked", true);
                    if (arr_len >= 7) {
                        $("#" + arr.slice(0, 5).join('_')).prop("checked", true);
                        if (arr_len >= 9) {
                            $("#" + arr.slice(0, 7).join('_')).prop("checked", true);
                            if (arr_len >= 11) {
                                $("#" + arr.slice(0, 9).join('_')).prop("checked", true);
                                if (arr_len >= 13) {
                                    $("#" + arr.slice(0, 11).join('_')).prop("checked", true);
                                }
                            }
                        }
                    }
                }
            } else {
                $("#copy_object").val('');
                $("#copy_source").val('');
                $("#copy_parents").val('');
                $("input:checkbox").prop("checked", false);
            }

        }

        function get_objectives(id, process_id) {
            $("#" + id).attr("onclick", "");
            var url = "/audits/audit/process/" + process_id + "/objective";
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                data: {source: "copy"},
                success: function (result) {
                    $("#acc_" + id).empty().append(result.html);
                }
            });
        }

        function get_risks(id, risk_id, process_id) {
            $("#" + id).attr("onclick", "");
            var url = "/audits/audit/objective/" + risk_id + "/risks";
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                data: {process: process_id, source: "copy"},
                success: function (result) {
                    $("#acc_" + id).empty().append(result.html);
                }
            });
        }


        function get_controls(id, controller_id, process_id, objective_id) {
            $("#" + id).attr("onclick", "");
            var url = "/audits/audit/risk/" + controller_id + "/controller";
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                data: {process: process_id, objective: objective_id, source: "copy"},
                success: function (result) {
                    $("#acc_" + id).empty().append(result.html);
                }
            });
        }

        function get_tests(id, test_id, process_id, objective_id, risk_id) {
            $("#" + id).attr("onclick", "");
            var url = "/audits/audit/control/" + test_id + "/test";
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                data: {process: process_id, objective: objective_id, risk: risk_id, source: "copy"},
                success: function (result) {
                    $("#acc_" + id).empty().append(result.html);
                }
            });
        }

        function loadAjaxProcessForm(audit_id, id) {
            if (id) {
                var url = "/audits/audit/" + audit_id + "/process/" + id + "/edit";
            } else {
                var url = "/audits/audit/" + audit_id + "/process/add";
            }
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $("#right_panel").empty().append(result.html);
                }
            });
        }

        function saveAjaxProcessForm(audit_id, id) {
            var frm = $('#ajaxProcessForm');
            if (id) {
                var edit = true;
                var url = "/audits/audit/" + audit_id + "/process/" + id + "/edit";
            } else {
                var edit = false;
                var url = "/audits/audit/" + audit_id + "/process/add";
            }

            frm.ajaxSubmit({
                url: url,
                success: function (result) {
                    $('.ajaxformerror').empty();
                    if (result.status == 'success') {
                        if (edit) {
                            $("#right_panel").empty().append('<p>Process Updated successfully</p>');
                            $(".process-title-" + id).empty().text(result.process_title);
                            $(".process-desc-" + id).empty().text(result.process_desc);
                        } else {
                            $("#right_panel").empty().append('<p>Process Added successfully</p>');
                            $("#accordion1").prepend(result.html);
                        }
                    } else if (result.error) {
                        if (result.error.title) {
                            $('#title_err').html(result.error.title);
                        }
                        if (result.error.owner) {
                            $('#owner_err').html(result.error.owner);
                        }
                    }
                },
                error: function () {
                    alert('Unable to add/update Process');
                }
            });
        }

        function attachPaper() {
            $(".workPapers").append('<div class="col-md-10"><input type="file" class="form-control" name="papers"></br></div>');
        }

        function removeAttachment(id) {
            var url = "/audits/attachment/" + id + "/delete";
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {
                    $("#workPaper_" + id).remove();
                }
            });
        }

        function deleteProcess(id) {
            var url = "/audits/process/" + id + "/delete";
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {
                    $("#pr_" + id).remove();
                    $("#prr_" + id).remove();
                    $("#right_panel").empty().append('<p>Process Deleted successfully</p>');
                }
            });
        }

        function loadAjaxObjectiveForm(audit_id, id) {
            if (id) {
                var url = "/audits/audit/" + audit_id + "/objective/" + id + "/edit";
            } else {
                var url = "/audits/audit/" + audit_id + "/objective/add";
            }
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $("#right_panel").empty().append(result.html);
                }
            });
        }

        function saveAjaxObjectiveForm(audit_id, id) {
            var frm = $('#ajaxProcessForm');
            if (id) {
                var edit = true;
                var url = "/audits/audit/" + audit_id + "/objective/" + id + "/edit";
            } else {
                var edit = false;
                var url = "/audits/audit/" + audit_id + "/objective/add";
            }

            frm.ajaxSubmit({
                url: url,
                success: function (result) {
                    $('.ajaxformerror').empty();
                    if (result.status == 'success') {
                        if (edit) {
                            $("#right_panel").empty().append('<p>Objective Updated successfully</p>');
                            $(".objective-modal-" + id).remove();
                            $(".objective-list-" + id).remove();
                        } else {
                            $("#right_panel").empty().append('<p>Objective Added successfully</p>');
                        }
                        for (key in result.html) {
                            $("#" + key).prepend(result.html[key]);
                        }
                    } else if (result.error) {
                        if (result.error.title) {
                            $('#title_err').html(result.error.title);
                        }
                        if (result.error.process) {
                            $('#rel_err').html(result.error.process);
                        }
                    }
                },
                error: function () {
                    alert('Unable to add/update Objective');
                }
            });
        }

        function deleteObjective(id) {
            var url = "/audits/objective/" + id + "/delete";
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {
                    $(".objective-modal-" + id).remove();
                    $(".objective-list-" + id).remove();
                    $("#right_panel").empty().append('<p>Objective Deleted successfully</p>');
                }
            });
        }

        function loadAjaxRiskForm(audit_id, id) {
            if (id) {
                var url = "/audits/audit/" + audit_id + "/risk/" + id + "/edit";
            } else {
                var url = "/audits/audit/" + audit_id + "/risk/add";
            }
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $("#right_panel").empty().append(result.html);
                }
            });
        }

        function saveAjaxRiskForm(audit_id, id) {
            var frm = $('#ajaxProcessForm');
            if (id) {
                var edit = true;
                var url = "/audits/audit/" + audit_id + "/risk/" + id + "/edit";
            } else {
                var edit = false;
                var url = "/audits/audit/" + audit_id + "/risk/add";
            }

            frm.ajaxSubmit({
                url: url,
                success: function (result) {
                    $('.ajaxformerror').empty();
                    if (result.status == 'success') {
                        if (edit) {
                            $("#right_panel").empty().append('<p>Risk Updated successfully</p>');
                            $(".risk-modal-" + id).remove();
                            $(".risk-list-" + id).remove();
                        } else {
                            $("#right_panel").empty().append('<p>Risk Added successfully</p>');
                        }
                        for (key in result.html) {
                            $("#" + key).prepend(result.html[key]);
                        }
                    } else if (result.error) {
                        if (result.error.title) {
                            $('#title_err').html(result.error.title);
                        }
                        if (result.error.objective) {
                            $('#rel_err').html(result.error.objective);
                        }
                    }
                },
                error: function () {
                    alert('Unable to add/update Risk');
                }
            });
        }

        function deleteRisk(id) {
            var url = "/audits/risk/" + id + "/delete";
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {
                    $(".risk-modal-" + id).remove();
                    $(".risk-list-" + id).remove();
                    $("#right_panel").empty().append('<p>Risk Deleted successfully</p>');
                }
            });
        }


        function loadAjaxControlForm(audit_id, id) {
            if (id) {
                var url = "/audits/audit/" + audit_id + "/control/" + id + "/edit";
            } else {
                var url = "/audits/audit/" + audit_id + "/control/add";
            }
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $("#right_panel").empty().append(result.html);
                }
            });
        }

        function saveAjaxControlForm(audit_id, id) {
            var frm = $('#ajaxProcessForm');
            if (id) {
                var edit = true;
                var url = "/audits/audit/" + audit_id + "/control/" + id + "/edit";
            } else {
                var edit = false;
                var url = "/audits/audit/" + audit_id + "/control/add";
            }

            frm.ajaxSubmit({
                url: url,
                success: function (result) {
                    $('.ajaxformerror').empty();
                    if (result.status == 'success') {
                        if (edit) {
                            $("#right_panel").empty().append('<p>Control Updated successfully</p>');
                            $(".control-modal-" + id).remove();
                            $(".control-list-" + id).remove();
                        } else {
                            $("#right_panel").empty().append('<p>Control Added successfully</p>');
                        }
                        for (key in result.html) {
                            $("#" + key).prepend(result.html[key]);
                        }
                    } else if (result.error) {
                        if (result.error.title) {
                            $('#title_err').html(result.error.title);
                        }
                        if (result.error.risk) {
                            $('#rel_err').html(result.error.risk);
                        }
                        if (result.error.owner) {
                            $('#owner_err').html(result.error.owner);
                        }
                    }
                },
                error: function () {
                    alert('Unable to add/update Control');
                }
            });
        }

        function deleteControl(id) {
            var url = "/audits/control/" + id + "/delete";
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {
                    $(".control-modal-" + id).remove();
                    $(".control-list-" + id).remove();
                    $("#right_panel").empty().append('<p>Control Deleted successfully</p>');
                }
            });
        }

        function loadAjaxTestForm(audit_id, id) {
            if (id) {
                var url = "/audits/audit/" + audit_id + "/test/" + id + "/edit";
            } else {
                var url = "/audits/audit/" + audit_id + "/test/add";
            }
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $("#right_panel").empty().append(result.html);
                }
            });
        }

        function saveAjaxTestForm(audit_id, id) {
            var frm = $('#ajaxProcessForm');
            if (id) {
                var edit = true;
                var url = "/audits/audit/" + audit_id + "/test/" + id + "/edit";
            } else {
                var edit = false;
                var url = "/audits/audit/" + audit_id + "/test/add";
            }

            frm.ajaxSubmit({
                url: url,
                success: function (result) {
                    $('.ajaxformerror').empty();
                    if (result.status == 'success') {
                        if (edit) {
                            $("#right_panel").empty().append('<p>Test Updated successfully</p>');
                            $(".test-list-" + id).remove();
                        } else {
                            $("#right_panel").empty().append('<p>Test Added successfully</p>');
                        }
                        for (key in result.html) {
                            $("#" + key).prepend(result.html[key]);
                        }
                    } else if (result.error) {
                        if (result.error.title) {
                            $('#title_err').html(result.error.title);
                        }
                        if (result.error.control) {
                            $('#rel_err').html(result.error.control);
                        }
                    }
                },
                error: function () {
                    alert('Unable to add/update Test');
                }
            });
        }

        function deleteTest(id) {
            var url = "/audits/test/" + id + "/delete";
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {
                    $(".test-list-" + id).remove();
                    $("#right_panel").empty().append('<p>Test Deleted successfully</p>');
                }
            });
        }
    </script>
{% endblock %}