{% extends "base.html" %}
{% block content %}
    <div class="col-md-12">
        <h2>Create/Modify an Report Templates</h2>
        <div class="col-md-6">
            <form class="form-horizontal" method="post" action="{% url 'audits:audit_report_add_edit_templates' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="title" value="{% ifequal status 'edit' %}{{ template.title }}{% endifequal %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">HTML</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="content">{{ template.content }}</textarea>
                    </div>
                </div>
                <hr/>
                {% if status == 'edit' %}
                    <input type="hidden" name="template_id" value="{{ template.id }}">
                    <button type="submit" class="btn btn-info" name="edit">Update</button>
                {% else %}
                    <button type="submit" class="btn btn-info" name="create">Create</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}