<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="col-md-12">
    <div class="well">
        <img src="http://www.onyxos.com/onyx_tpl/mini_logo_onyx.png" class="img-responsive img-rounded" alt="Responsive image">
        <p class="pull-right"> Header section goes here </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <div class="well"><p> Audit Report </p></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Audtit Name</th>
                <th>Audtit Description</th>
                <th>Audtit Start</th>
                <th>Audtit End</th>
                <th>Audtitors List</th>
                <th>Number of controls</th>
                <th>Number of tests passed</th>
                <th>Total number of tests</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ object.title }}</td>
                <td>{{ object.description }}</td>
                <td>2015</td>
                <td>2014</td>
                <td>Auditors</td>
                <td>{{ object.control_audit.all.count }}</td>
                <td>{{ test_passed_count }}</td>
                <td>{{ object.test_audit.all.count }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Process Name</th>
                <th>Process Description</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object.process_audit.all %}
                <tr>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.desc }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Objective Name</th>
                <th>Objective Description</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object.objective_audit.all %}
                <tr>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.desc }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Risk Name</th>
                <th>Risk Description</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object.risk_audit.all %}
                <tr>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.desc }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Control Name</th>
                <th>Control Description</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object.control_audit.all %}
                <tr>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.desc }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p> Passed Tests</p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Test Name</th>
                <th>Test Description</th>
                <th>Test result description</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in test_passed %}
                <tr>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.desc }}</td>
                    <td>{{ obj.result_desc }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p> Failed Tests</p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Test Name</th>
                <th>Test Description</th>
                <th>Test result description</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in test_failed %}
                <tr>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.desc }}</td>
                    <td>{{ obj.result_desc }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <button id="pdfbtn" class="btn btn-default btn-primary btn-lg" onclick="document.getElementById('pdfbtn').style.display='none';window.print();">Generate Pdf</button>
    <div class="col-md-12 well">
        <p> Footer section goes here </p>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
</body>
</html>
