<div class="panel panel-default" id="pnl_{{ generated_id }}_{{ class_name }}_{{ obj.id }}">
    <div class="panel-heading">
        <h4 class="panel-title">
            {% if not class_name == 'test' %}<a id="clk_{{ generated_id }}_{{ class_name }}_{{ obj.id }}" data-toggle="collapse" data-parent="#acc_{{ generated_id }}" href="#{{ generated_id }}_{{ class_name }}_{{ obj.id }}_collapse" onclick="get_childs('{{ generated_id }}_{{ class_name }}_{{ obj.id }}', '{{ class_name }}', '{{ obj.id }}')">+</a>{% endif %}
            <a href="javascript:;" onclick="loadAjaxForm('{{ class_name }}', '{{ obj.id }}')" class="{{ class_name }}-{{ obj.id }}">{{ obj.title }}</a>
        </h4>
    </div>
    <div id="{{ generated_id }}_{{ class_name }}_{{ obj.id }}_collapse" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="panel-group" id="acc_{{ generated_id }}_{{ class_name }}_{{ obj.id }}">
            </div>
        </div>
    </div>
</div>