{% load i18n %}
<h3 class="text-center">{% trans "Control" %}</h3>
<form class="form-horizontal" method="post" id="ajaxForm" enctype="multipart/form-data">
    <div style='display:none'><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}"/></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Title" %}</label>
        <div class="col-sm-10">
            {{ form.title }}<p class="ajaxformerror errormsg" id="title_err"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Reference" %}</label>
        <div class="col-sm-10">
            {{ form.ref_id }}<p class="ajaxformerror errormsg" id="ref_id_err"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Description" %}</label>
        <div class="col-sm-10">
            {{ form.desc }}<p class="ajaxformerror errormsg" id="desc_err"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Owner" %}</label>
        <div class="col-sm-10">
            {{ form.owner }}<p class="ajaxformerror" id="owner_err"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Control Type" %}</label>
        <div class="col-sm-10">
            {{ form.control_type }}<p class="ajaxformerror errormsg" id="desc_err"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Control Class" %}</label>
        <div class="col-sm-10">
            {{ form.control_class }}<p class="ajaxformerror errormsg" id="control_class_err"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Frequency" %}</label>
        <div class="col-sm-10">
            {{ form.frequency }}<p class="ajaxformerror errormsg" id="frequency_err"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Risk" %}</label>
        <div class="col-sm-10">
            {{ form.risk }}<p class="ajaxformerror errormsg" id="risk_err"></p>
        </div>
    </div>
    <div class="form-group workPapers">
        <label class="col-sm-2 control-label" for="exampleInputFile">{% trans "Attachments" %}</label></br>
        {% if form.instance.id and form.instance.papers.all.0 %}
            {% with form.instance.papers.all as papers %}
                {% for paper in papers %}
                    <div class="col-md-10" id="workPaper_{{ paper.id }}">
                        <a href="{{ paper.workpaper.url }}" target="_blank">{{ paper.filename }}</a>
                        <button type="button" onclick="removeAttachment({{ paper.id }})" class="btn btn-xs pull-right">{% trans "Remove" %}</button>
                        </br></br>
                    </div>
                {% endfor %}
            {% endwith %}
        {% endif %}
        <div class="col-md-10"><input type="file" class="form-control" name="papers"></br></div>
    </div>
    <button type="button" class="btn btn-info" onclick="attachPaper();">{% trans "Attach 1 more" %}</button>
    <hr/>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary" {% if form.instance.id %}onclick="saveAjaxForm('control', '{{ form.instance.id }}');"{% else %}onclick="saveAjaxForm('control');"{% endif %}>{% trans "Save" %}</button>
            {% if form.instance.id %}
                <button type="button" class="btn btn-danger" onclick="deleteObject('control', {{ form.instance.id }});">{% trans "Delete" %}</button>{% endif %}
            <button type="button" class="btn btn-default pull-right" onclick="$('#right_panel').empty();">{% trans "Cancel" %}</button>
        </div>
    </div>
</form>