{% load i18n %}
<h3 class="text-center">{% trans "Process Group" %}</h3>
<form class="form-horizontal" method="post" id="ajaxForm" enctype="multipart/form-data">
    <div style='display:none'><input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}"/></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Title" %}</label>
        <div class="col-sm-10">
            {{ form.title }}<p class="ajaxformerror errormsg" id="title_err"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Description" %}</label>
        <div class="col-sm-10">
            {{ form.desc }}<p class="ajaxformerror errormsg" id="desc_err"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Belong to" %}</label>
        <div class="col-sm-10">
            {{ form.belong_to }}<p class="ajaxformerror errormsg" id="belong to_err"></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {% if form.instance.id and not form.instance.repo_process_Group_belong_to.all.0 %}
                <a href="{% url 'repo:pg_management' form.instance.id %}" class="btn btn-primary">{% trans "Manage" %}</a>
            {% endif %}
            <button type="button" class="btn btn-primary" {% if form.instance.id %}onclick="saveAjaxForm('process_group', '{{ form.instance.id }}');"{% else %}onclick="saveAjaxForm('process_group');"{% endif %}>{% trans "Save" %}</button>
            {% if form.instance.id %}
                <button type="button" class="btn btn-danger" onclick="deleteObject('process_group', {{ form.instance.id }});">{% trans "Delete" %}</button>
            {% endif %}
            <button type="button" class="btn btn-default pull-right" onclick="$('#right_panel').empty();">{% trans "Cancel" %}</button>
        </div>
    </div>
</form>

