{% if object_list %}
    {% for obj in object_list %}
        <div class="panel {% if obj.class_name == 'process_group' %}panel-primary{% endif %}
                    {% if obj.class_name == 'process' %}panel-default{% endif %}
                    {% if obj.class_name == 'objective' %}panel-warning{% endif %}
                    {% if obj.class_name == 'risk' %}panel-danger{% endif %}
                    {% if obj.class_name == 'control' %}panel-info{% endif %}
                    {% if obj.class_name == 'test' %}panel-success{% endif %}" id="pnl_{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <input class="ckbox" id="ck_{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}" type="checkbox" onclick="ckbox(this, '{{ obj.class_name }}', '{{ obj.id }}');">
                    {% if not obj.class_name == 'test' %}<a id="clk_{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}" data-toggle="collapse" data-parent="#acc_{{ generated_id }}" href="#{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}_collapse" onclick="get_childs('{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}', '{{ obj.class_name }}', '{{ obj.id }}')">+</a>{% endif %}
                    <a href="javascript:;" onclick="loadAjaxForm('{{ obj.class_name }}', '{{ obj.id }}')" class="{{ obj.class_name }}-{{ obj.id }}">{{ obj.title }}</a>
                </h4>
            </div>
            <div id="{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}_collapse" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel-group" id="acc_{{ generated_id }}_{{ obj.class_name }}_{{ obj.id }}">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
