{% extends "base.html" %}
{% load i18n %}
{% block page_title %}{% trans "Copy from the Repository" %}{% endblock %}
{% block content %}
    {% csrf_token %}
    <div id="page-wrapper">
        <br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="btn-group pull-right">
                                <a href="{% url 'audits:audit' audit_id %}" class="btn btn-info">{% trans "Back to audit" %}</a>
                            </div>
                            <h4>{% trans "Copy from the Repository" %}</h4>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="{% url 'audits:repo_copy_view' audit_id %}">{% csrf_token %}
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {% include 'repo/copy/childs.html' %}
                                        {% include "pagination.html" %}
                                        <input type="hidden" id="copy_object" name="copy_object">
                                        <input type="hidden" id="copy_source" name="copy_source">
                                        <input type="hidden" id="copy_parents" name="copy_parents">
                                        <input type="hidden" id="selected_id" name="selected_id">
                                        <button type="submit" class="btn btn-default btn-primary">{% trans "Copy" %}</button>
                                        <a href="{% url 'audits:audit' audit_id %}" class="btn btn-light">{% trans "Cancel" %}</a>
                                    </div>
                                    <div class="col-md-6" id="right_panel">
                                        <p>{% trans "Only one process will be copied at a time." %}</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function get_childs(gen_id, cls_name, obj_id) {
            $("#clk_" + gen_id).attr("onclick", "");
            var url = "/repository/process-group/{{ process_group_id }}/management/" + cls_name + "/" + obj_id + "/childs/?copy=true&generated_id=" + gen_id;
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                data: {management: true},
                success: function (result) {
                    $("#acc_" + gen_id).empty().append(result.html);
                }
            });
        }

        /*
        function ckbox(elm, obj, source, parents){
        cur_id = $(elm).attr("id");
        if($(elm).is(":checked")){
        $("#copy_object").val(obj);
        $("#copy_source").val(source);
        $("#copy_parents").val(parents);
        $("input:checkbox").not($(elm)).prop("checked", false);
        $(elm).parent().parent().parent().find("input:checkbox").prop("checked", true);
        arr = cur_id.split('_')
        arr_len = arr.length;
        if (arr_len >= 5){
        $("#"+arr.slice(0,3).join('_')).prop("checked", true);
        if (arr_len >= 7){
        $("#"+arr.slice(0,5).join('_')).prop("checked", true);
        if (arr_len >= 9){
        $("#"+arr.slice(0,7).join('_')).prop("checked", true);
        if (arr_len >= 11){
        $("#"+arr.slice(0,9).join('_')).prop("checked", true);
        if (arr_len >= 13){
        $("#"+arr.slice(0,11).join('_')).prop("checked", true);
        }
        }
        }
        }
        }
        }
        else{
        $("#copy_object").val('');
        $("#copy_source").val('');
        $("#copy_parents").val('');
        $("input:checkbox").prop("checked", false);
        }
        }
        */

        function ckbox(elm, source, obj) {
            cur_id = $(elm).attr("id");
            if ($(elm).is(":checked")) {
                $("input:checkbox").prop("checked", false);
                $(elm).prop("checked", true);
                $("#copy_object").val(obj);
                $("#copy_source").val(source);
                //$("#copy_parents").val(cur_id);
                $("#selected_id").val(cur_id);
                arr = cur_id.split('_')
                arr_len = arr.length;
                $(elm).parent().parent().parent().children().find(':checkbox').prop("checked", true);
                ckElm = elm;
                while (arr_len > 2) {
                    ckElm = $(ckElm).parent().parent().parent().parent().parent().parent().siblings().find(":checkbox").first();
                    console.log($(ckElm).parent().parent().parent().parent().parent().parent().siblings());
                    $(ckElm).prop("checked", true);
                    //ckElm = $(ckElm).parent();
                    arr_len -= 2;
                }
            } else {
                $("#copy_object").val('');
                $("#copy_source").val('');
                $("#copy_parents").val('');
                $("#selected_id").val('');
                $("input:checkbox").prop("checked", false);
            }
        }
    </script>
{% endblock %}