{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block page_title %}{% endblock %} - Envelop (Community Version)</title>
    <!-- Latest compiled and minified CSS -->
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css"/>

    <!-- Optional theme -->
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" -->

    <!-- script src="https://code.jquery.com/jquery-1.11.3.min.js"></script -->
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <!-- script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- script src="http://malsup.github.com/jquery.form.js"></script -->
    <script src="{% static 'js/jquery.form.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            UpdateSelectMultiple();
        });
        $(document).ajaxSuccess(function () {
            UpdateSelectMultiple();
        });
    </script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block header_html %}
    {% endblock %}
</head>
<body>
{% block headernav %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Envelop</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="/not_implemented">Search</a></li>
                        <li><a href="{% url 'repo:WipaniList' %}">Wipani</a></li>
                        <li><a href="{% url 'audits:index' %}">Audits</a></li>
                        <li><a href="{% url 'planning:planning_list' %}">Planning</a></li>
                        <li><a href="{% url 'repo:repo_index' %}">Repository</a></li>
                        <li><a href="https://demo.grcenvelop.com/help/" target="_blank">Help</a></li>
                        <li><a href="{% url 'admin:logout' %}?next=/">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'admin:login' %}?next={{ request.path }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<div class="container-fluid">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>
<footer class="container-fluid text-center">
    <p>&copy; 2024 <a href="https://arambankudyil.com" target="_blank" title="Arambankudyil Consultancy">ACPL</a> ver 0.7.6</p>
</footer>

{% block script %}
{% endblock %}
</body>
</html>
