{% load i18n %}
{% if messages %}
    {% for message in messages %}
        <div class="django_message alert {% if message.tags == 'success' %}alert-success{% endif %}{% if message.tags == 'error' %}alert-danger{% endif %} alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span><span class="sr-only">{% trans "Close" %}</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
