{% extends "base.html" %}

{% block content %}
    <h2>Add from Repository</h2>

    <form method="POST" class="post-form">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

        {{ form }}

        <button type="submit" class="save btn btn-default">Add to Audit</button>
        <br>

    </form>
{% endblock %}
