<div class="panel panel-info control-list-{{ obj.id }}">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a id="pro_{{ process_id }}_obj_{{ objective_id }}_risk_{{ risk_id }}_ctrl_{{ obj.id }}" data-toggle="collapse" data-parent="#acc_pro_{{ process_id }}_obj_{{ objective_id }}_risk_{{ risk_id }}" href="#pr_{{ process_id }}_obj_{{ objective_id }}_rs_{{ risk_id }}_ct_{{ obj.id }}_collapse" onclick="get_tests('pro_'+{{ process_id }}+'_obj_'+{{ objective_id }}+'_risk_'+{{ risk_id }}+'_ctrl_'+{{ obj.id }}, {{ obj.id }}, {{ process_id }}, {{ objective_id }}, {{ risk_id }})">+
            </a><a href="javascript:void(0);" onclick="loadAjaxControlForm({{ obj.audit_id }}, {{ obj.id }})">{{ obj.title }}</a>
        </h4>
    </div>
    <div id="pr_{{ process_id }}_obj_{{ objective_id }}_rs_{{ risk_id }}_ct_{{ obj.id }}_collapse" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="panel-group" id="acc_pro_{{ process_id }}_obj_{{ objective_id }}_risk_{{ risk_id }}_ctrl_{{ obj.id }}"></div>
        </div>
    </div>
</div>