{% if tests %}
    {% for obj in tests %}
        <div class="panel panel-default test-list-{{ obj.id }}">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="javascript:void(0);" onclick="loadAjaxTestForm({{ obj.audit_id }},{{ obj.id }});">{{ obj.title }}</a>
                </h4>
            </div>
        </div>
    {% endfor %}
{% endif %}