<div class="modal-body">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter Finding Details</h4>
    </div>
    <br><br>
    <form class="form-horizontal" method="post" id="findForm" action="{% url 'audits:ajax_finding_view' %}?test_id={{ test_id }}">{% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                {{ form.title }}<p class="ajaxformerror" id="fnd_title_err"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                {{ form.desc }}
            </div>
        </div>
        <div class="form-group workPapers">
            <label for="exampleInputFile">Work Papers</label><br>
            <div class="col-md-10"><input type="file" class="form-control" name="papers"><br></div>
        </div>
        <button type="button" class="btn btn-info" onclick="attachPaper();">Attach 1 more</button>
        <hr/>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" onclick="savefindForm();" class="btn btn-primary">Save</button>
    </div>
</div>
