{% extends "base.html" %}
{% load static %}
{% block page_title %}Wipani Pull {{ process_group.title }}{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="page-wrapper"><br/>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% include "messaging.html" %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title pull-left">
                                <h4>{{ process_group.title }}</h4>
                            </div>
                            <div class="panel-title pull-right">
                                <h5>{{ process_group.changed_on_str }}</h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="row" style="display: table; width: 100%;">
                                <div class="col-md-6" style="display: table-cell; float: none; vertical-align: top;">
                                    By: {{ process_group.owner }}
                                    <h4>Description</h4>
                                    <p>{{ process_group.desc }}</p>
                                </div>
                                <div class="col-md-6" style="display: table-cell; float: none; vertical-align: middle;">
                                    <div class="btn-toolbar" role="toolbar">
                                        {% if process_group.is_owner %}
                                        <button class="btn btn-danger pull-right" onclick="AjaxWipaniDelete()">Delete</button>
                                        {% endif %}
                                        <button class="btn btn-primary pull-right" onclick="AjaxWipaniPull()">Pull</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel-group" id="acc">
                                        {% for process in process_group.processes %}
                                            <div class="panel panel-default" id="pnl_process_{{ process.id }}">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a id="clk_pnl_process_{{ process.id }}" data-toggle="collapse" data-parent="#acc" href="#process_{{ process.id }}_collapse">+</a>
                                                        <a href="javascript:;" onclick="loadChildsDetails('process', {{ process }})" class="process-{{ process.id }}">{{ process.title }}</a>
                                                    </h4>
                                                </div>
                                                <div id="process_{{ process.id }}_collapse" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="panel-group" id="acc_process_{{ process.id }}">

                                                            {% for objective in process.objectives %}
                                                                <div class="panel panel-warning" id="pnl_process_{{ process.id }}_objective_{{ objective.id }}">
                                                                    <div class="panel-heading">
                                                                        <h4 class="panel-title">
                                                                            <a id="clk_pnl_process_{{ process.id }}_objective_{{ objective.id }}" data-toggle="collapse"
                                                                               data-parent="#acc_process_{{ process.id }}" href="#process_{{ process.id }}_objective_{{ objective.id }}_collapse">+</a>
                                                                            <a href="javascript:;" onclick="loadChildsDetails('objective', {{ objective }})"
                                                                               class="process-{{ process.id }}-objective-{{ objective.id }}">{{ objective.title }}</a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="process_{{ process.id }}_objective_{{ objective.id }}_collapse" class="panel-collapse collapse">
                                                                        <div class="panel-body">
                                                                            <div class="panel-group" id="acc_process_{{ process.id }}_objective_{{ objective.id }}">

                                                                                {% for risk in objective.risks %}
                                                                                    <div class="panel panel-danger" id="pnl_process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}">
                                                                                        <div class="panel-heading">
                                                                                            <h4 class="panel-title">
                                                                                                <a id="clk_pnl_process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}"
                                                                                                   data-toggle="collapse" data-parent="#acc_process_{{ process.id }}_objective_{{ objective.id }}"
                                                                                                   href="#process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}_collapse">+</a>
                                                                                                <a href="javascript:;" onclick="loadChildsDetails('risk', {{ risk }})"
                                                                                                   class="process-{{ process.id }}-objective-{{ objective.id }}-risk-{{ risk.id }}">{{ risk.title }}</a>
                                                                                            </h4>
                                                                                        </div>
                                                                                        <div id="process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}_collapse"
                                                                                             class="panel-collapse collapse">
                                                                                            <div class="panel-body">
                                                                                                <div class="panel-group"
                                                                                                     id="acc_process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}">

                                                                                                    {% for control in risk.controls %}
                                                                                                        <div class="panel panel-info"
                                                                                                             id="pnl_process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}_control_{{ control.id }}">
                                                                                                            <div class="panel-heading">
                                                                                                                <h4 class="panel-title">
                                                                                                                    <a id="clk_pnl_process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}_control_{{ control.id }}"
                                                                                                                       data-toggle="collapse"
                                                                                                                       data-parent="#acc_process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}"
                                                                                                                       href="#process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}_control_{{ control.id }}_collapse">+</a>
                                                                                                                    <a href="javascript:;" onclick="loadChildsDetails('control', {{ control }})"
                                                                                                                       class="process-{{ process.id }}-objective-{{ objective.id }}-risk-{{ risk.id }}-control-{{ control.id }}">{{ control.title }}</a>
                                                                                                                </h4>
                                                                                                            </div>
                                                                                                            <div id="process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}_control_{{ control.id }}_collapse"
                                                                                                                 class="panel-collapse collapse">
                                                                                                                <div class="panel-body">
                                                                                                                    <div class="panel-group"
                                                                                                                         id="acc_process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}_control_{{ control.id }}">

                                                                                                                        {% for test in control.tests %}
                                                                                                                            <div class="panel panel-success"
                                                                                                                                 id="pnl_process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}_control_{{ control.id }}_test_{{ test.id }}">
                                                                                                                                <div class="panel-heading">
                                                                                                                                    <h4 class="panel-title">
                                                                                                                                        <a href="javascript:;"
                                                                                                                                           onclick="loadChildsDetails('test', {{ test }})"
                                                                                                                                           class="process-{{ process.id }}-objective-{{ objective.id }}-risk-{{ risk.id }}-control-{{ control.id }}-test-{{ test.id }}">{{ test.title }}</a>
                                                                                                                                    </h4>
                                                                                                                                </div>
                                                                                                                                <div id="process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}_control_{{ control.id }}_test_{{ test.id }}_collapse"
                                                                                                                                     class="panel-collapse collapse">
                                                                                                                                    <div class="panel-body">
                                                                                                                                        <div class="panel-group"
                                                                                                                                             id="acc_process_{{ process.id }}_objective_{{ objective.id }}_risk_{{ risk.id }}_control_{{ control.id }}_test_{{ test.id }}">
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        {% endfor %}
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    {% endfor %}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6" id="right_panel"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function AjaxWipaniPull() {
            var url = "pull/";
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {
                    location.reload()
                }
            });
        }

        function AjaxWipaniDelete() {
            var url = "delete/{{ process_group.title }}/";
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {
                    location.reload()
                }
            });
        }

        function loadChildsDetails(c_type, object) {
            var url = "details/"
            var c_object = object
            delete c_object['id']
            delete c_object['changed_on']
            delete c_object['process']
            delete c_object['objective']
            delete c_object['objectives']
            delete c_object['risk']
            delete c_object['risks']
            delete c_object['control']
            delete c_object['controls']
            delete c_object['tests']

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    c_type: c_type,
                    c_object: JSON.stringify(c_object)
                },
                dataType: "json",
                success: function (result) {
                    $("#right_panel").empty().append(result.html);
                }
            });
        }
    </script>
{% endblock %}