{% extends "base.html" %}
{% load static %}
{% block page_title %}Register{% endblock %}

{% block content %}
    <div id="page-wrapper"><br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Register your Wipani Account</h4>
                        </div>
                        <div class="panel-body">
                        {% include "messaging.html" %}
                            <form method="POST" class="post-form">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <div class="non-field-errors">
                                        {% for error in form.non_field_errors %}
                                            <p class="form-error" style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% for field in form %}
                                    <div class="form-group">
                                        <label>{{ field.label_tag }}</label>
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <p class="form-error" style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="save btn btn-default">Register</button>
                            </form>
                        <div style="margin-top: 16px">
                                Have an account? <a href="{% url 'repo:WipaniToken' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}