{% extends "base.html" %}
{% load static %}
{% block page_title %}Wipani Repository List{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="page-wrapper"><br/>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% include "messaging.html" %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title pull-left">
                                <h4>Wipani Repository List</h4>
                            </div>
                            <div class="panel-title pull-right">
                                <button class="btn btn-default pull-right" onclick="location.href='/repository/wipani/token/';">Wipani Settings</button>
                            </div>
                            <div class="clearfix"></div>
                            
                        </div>
                        <div class="panel-body">
                            {% for pg in process_groups %}
                                <div style="cursor: pointer;" onclick="location.href='{{ pg.id }}/';">
                                    <h4>{{ pg.title }}</h4>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8">
                                            {{ pg.desc }}
                                        </div>
                                        <div class="col-lg-2 col-md-2">
                                            {% if pg.is_owner %}
                                                You
                                            {% else %}
                                                {{ pg.owner }}
                                            {% endif %}
                                        </div>
                                        <div class="col-lg-2 col-md-2">
                                            {{ pg.changed_on_str }}
                                        </div>
                                    </div>
                                </div>
                                <div class="divider" style="border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);"></div>
                            {% endfor %}
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}