{% load i18n %}
{% load custom_tag %}
<h3 class="text-center">{% trans c_type|make_readable %}</h3>
{% for key,value in instance.items %}
    <div class="row">
        <div class="col-sm-2"><p>{% trans key|make_readable %}</p></div>
        <div class="col-sm-10">
            <p style="word-wrap: break-word; padding-right: 24px;">
                {% trans value %}
            </p>
        </div>
    </div>
{% endfor %}