{% extends "base.html" %}
{% load static %}
{% block page_title %}Login{% endblock %}

{% block content %}
{% csrf_token %}
<div id="page-wrapper"><br />
    <div class="container-fluid">
        {% include "messaging.html" %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Wipani Settings</h4>
                    </div>
                    <div class="panel-body">

                        <p>Please use your registered Wipani Email to recieve your Authentication Token.</p>
                        <p>The Authentication Token will be sent to your registered Wipani Email.</p>

                        <form method="POST" class="post-form">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                            <div class="non-field-errors">
                                {% for error in form.non_field_errors %}
                                <p class="form-error">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <div class="form-group">
                                <label>{{ form.token.label_tag }}</label>
                                <div class="input-group" style="display: flex; margin-bottom: 10px;">
                                    {{ form.token }}
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" name="save" value="save">Save</button>
                                    </span>
                                </div>
                                {% for error in form.token.errors %}
                                <p class="form-error" style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label>{{ form.email.label_tag }}</label>
                                <div class="input-group" style="display: flex; margin-bottom: 10px;">
                                    {{ form.email }}
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" name="get" value="get">Get Token</button>
                                    </span>
                                </div>
                                {% for error in form.email.errors %}
                                <p class="form-error" style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </form>
                        <div style="margin-top: 16px">
                            New to Wipani? <a href="{% url 'repo:WipaniRegister' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Create an account!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}